:root {
  --primary-color: #000;
  --second-color: #fff;
  --off-white: #f6f6f6;
  --brand: #5865f2;
  --not-quite-black: #23272a;

  --font-display: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-code: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Monaco", "Courier New", Courier, monospace;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #000;
  background: #fff;
}

.container {
  max-width: 1180px;
  margin: auto;
}

/* Header */
.header {
  background-image: url("../img/header-image.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #404EED;
}

.header-top {
  padding: 23px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-nav__link {
  color: var(--second-color);
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
}

.header-nav__link:hover {
  text-decoration: underline;
}

.header-top__btn {
  border: none;
  background: var(--second-color);
  border-radius: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding: 7px 16px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.header-top__btn:hover,
.button__download:hover {
  color: #5865f2;

}

.header-bootom {
  color: var(--second-color);
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-size: 44px;
  font-weight: 800;
  line-height: 95%;
  text-transform: uppercase;
}

.header__descr {
  width: 780px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.625;
  text-align: center;
}

.header-bottom__btn {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.download {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-bottom__link,
.question__link {
  border: none;
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
}

.button__download {
  color: var(--primary-color);
  background: var(--second-color);
}

.button__open {
  background: #23272a;
  color: var(--second-color);
}

.button__open:hover {
  background-color: hsl(223, 6.7%, 20.6%);
}

/* Main */
.main-info {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info__image {
  width: 678px;
  height: 440px;
}

.main-info__text {
  width: 380px;
}

.main-info__title {
  line-height: 120%;
  font-size: 48px;
  font-size: clamp(20px, 4vw, 40px);
  font-weight: 800;
}

.main-info__descr {
  margin-top: 24px;
  font-size: 20px;
  line-height: 1.625;
}

#main2,
#main4,
.question {
  background: var(--off-white);
}

.main-info--4 {
  flex-direction: column;
  padding-bottom: 80px;
}

.main-info__text--4 {
  width: 980px;
  text-align: center;
}

.main-info__image--4 {
  margin-top: 16px;
}

/* Question */
.question {
  padding-bottom: 120px;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question__title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  position: relative;
  z-index: 1;
}

.question__title::before {
  position: absolute;
  content: url("../img/stars-photo.svg");
  bottom: 20px;
  left: -10px;
  z-index: -1;
}

.question__btn {
  display: flex;
  margin-top: 40px;
}

.question__link {
  color: var(--second-color);
  background: var(--brand);
}

.question__link:hover,
.footer-bottom__link:hover {
  background-color: hsl(235, calc(var(--saturation-factor, 1)*86.1%), 71.8%);
}

/* Footer */
.footer {
  background: var(--not-quite-black);
  padding-top: 80px;
  padding-bottom: 64px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  gap: 58px;
}

.footer-info__image {
  width: 24px;
  height: 16px;
}

.footer__select {
  margin-top: 24px;
  margin-bottom: 48px;
  color: var(--second-color);
  background: inherit;
  font-size: 14px;
  line-height: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer__option {
  color: var(--not-quite-black);
  font-size: 14px;
  line-height: 18px;
}

.footer__social-network {
  display: flex;
  gap: 24px;
}

.footer__image {
  cursor: pointer;
}

.footer-nav__title {
  color: var(--brand);
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
}

.footer__ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__link {
  color: var(--second-color);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__line {
  background-color: var(--brand);
  width: 100%;
  height: 1px;
  margin-bottom: 32px;
  border: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom__link {
  padding: 7px 16px;
  background-color: var(--brand);
  color: var(--second-color);
  border-radius: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}