:root {
  --primary-color: #000;
  --second-color: #fff;
  --off-white: #f6f6f6;
  --text-link: #00b0f4;
  --brand: #5865f2;
  --not-quite-black: #23272a;

  --font-display: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-code: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Monaco", "Courier New", Courier, monospace;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #000;
  background: #fff;
}

.container {
  max-width: 1180px;
  margin: auto;
}

/* Header */
.header {
  background-image: url("../img/header-image.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #404EED;
}

.header-top {
  padding: 23px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-nav__link {
  color: var(--second-color);
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
}

.header-nav__link:hover {
  text-decoration: underline;
}

.header-top__btn {
  border: none;
  background: var(--second-color);
  border-radius: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding: 7px 16px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.header-top__btn:hover,
.button__download:hover {
  color: #5865f2;

}

.header__btn {
  display: flex;
  gap: 16px;
}

.header__menu-btn {
  display: none;
  cursor: pointer;
}

.header-bottom {
  color: var(--second-color);
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__title {
  font-size: 44px;
  font-weight: 800;
  line-height: 95%;
  text-transform: uppercase;
}

.header__descr {
  width: 780px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.625;
}

.header-bottom__btn {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header-bottom__link,
.question__link {
  border: none;
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
}

.button__download {
  color: var(--primary-color);
  background: var(--second-color);
}

.button__open {
  background: #23272a;
  color: var(--second-color);
}

.button__open:hover {
  background-color: hsl(223, 6.7%, 20.6%);
}

/* Sidebar */
.sidebar {
  display: none;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow-y: scroll;
}

.sidebar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  cursor: pointer;
}

.sidebar__line {
  width: 100%;
  height: 1px;
  background: #ebedef;
  margin-top: 24px;
  margin-bottom: 16px;
  border: none;
}

.sidebar-nav__item {
  padding: 8px 16px;
  cursor: pointer;
}

.sidebar-nav__item:hover {
  background: var(--off-white);
}

.sidebar-nav__link {
  color: var(--not-quite-black);
  font-size: 16px;
  line-height: 24px;
}

.sidebar-nav__link:hover {
  color: var(--text-link);
  text-decoration: underline;
}

.sidebar-bottom {
  display: flex;
  margin-top: 40px;
}

.sidebar-bottom__link {
  width: 100%;
}

/* Main */
.main-info {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info__image {
  width: 678px;
  height: 440px;
}

.main-info__text {
  width: 380px;
}

.main-info__title {
  line-height: 120%;
  font-size: 48px;
  font-size: clamp(20px, 4vw, 40px);
  font-weight: 800;
}

.main-info__descr {
  margin-top: 24px;
  font-size: 20px;
  line-height: 1.625;
}

#main2,
#main4,
.question {
  background: var(--off-white);
}

.main-info--4 {
  flex-direction: column;
  padding-bottom: 80px;
}

.main-info__text--4 {
  width: 980px;
  text-align: center;
}

.main-info__image--4 {
  margin-top: 16px;
}

/* Question */
.question {
  padding-bottom: 120px;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question__title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  position: relative;
  z-index: 1;
}

.question__title::before {
  position: absolute;
  content: url("../img/stars-photo.svg");
  bottom: 20px;
  left: -10px;
  z-index: -1;
}

.question__btn {
  display: flex;
  margin-top: 40px;
}

.question__link {
  color: var(--second-color);
  background: var(--brand);
}

.question__link:hover,
.footer-bottom__link:hover,
.sidebar-bottom__link:hover {
  background-color: hsl(235, calc(var(--saturation-factor, 1)*86.1%), 71.8%);
}

/* Footer */
.footer {
  background: var(--not-quite-black);
  padding-top: 80px;
  padding-bottom: 64px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  gap: 40px 58px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__choice {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.footer-info__image {
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

.footer__select {
  color: var(--second-color);
  background: inherit;
  font-size: 14px;
  line-height: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer__option {
  color: var(--not-quite-black);
  font-size: 14px;
  line-height: 18px;
}

.footer__social-network {
  display: flex;
  gap: 24px;
  margin-bottom: 56px;
}

.footer__image {
  cursor: pointer;
}

.footer-nav__title {
  color: var(--brand);
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
}

.footer__ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__link {
  color: var(--second-color);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__line {
  background-color: var(--brand);
  width: 100%;
  height: 1px;
  margin-bottom: 32px;
  border: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom__link,
.sidebar-bottom__link {
  padding: 7px 16px;
  background-color: var(--brand);
  color: var(--second-color);
  border-radius: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1260px) {
  .container {
    max-width: 93.5%;
  }

  .main-info__image {
    width: calc(100% - 42%);
    height: auto;
  }
}

@media (max-width: 1024px) {
  .hidden {
    overflow: hidden;
  }

  .header {
    background-image: url("../img/header-image-2.svg");
  }

  .sidebar {
    display: block;
  }

  .sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -330px;
    width: 330px;
    height: 100vh;
    background: var(--second-color);
    transition: right 0.3s ease;
    z-index: 9999;
  }

  .sidebar-container.active {
    right: 0;
  }

  .none {
    display: none;
  }

  .header__menu-btn {
    display: block;
  }

  .header-bottom {
    align-items: start;
    text-align: start;
    padding: 80px 0 160px 0;
  }

  .header__descr {
    width: 580px;
    font-size: clamp(16px, 2vw, 20px);
  }

  .header-bottom__btn {
    flex-direction: column;
  }

  .button__open {
    width: 320px
  }

  .main-info {
    gap: 20px;
    padding: 80px 0;
  }

  .question {
    padding-bottom: 80px;
  }

  .main-info__text {
    width: 100%;
  }

  .footer-info {
    width: 50%;
  }

  .footer-nav {
    width: 50%;
  }

  .footer__list {
    width: 42%;
  }

  .modal__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    visibility: hidden;
    opacity: 0;
  }

  .visible {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header {
    background-image: none;
    position: relative;
  }

  .header-bg {
    position: absolute;
    content: url("../img/header-image-3.svg");
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    left: -10%;
    width: calc(100% - 5%);
  }

  .header__title {
    font-size: clamp(24px, 5vw, 44px);
  }

  .header-bottom {
    padding-top: 56px;
    padding-bottom: calc(100% - 40%);
  }

  .header__descr {
    width: 95%;
  }

  .main-info,
  .question {
    flex-direction: column;
    padding-bottom: 56px;
  }

  .main-info__title,
  .question__title {
    font-size: 24px;
  }

  .question__title::before {
    content: ""
  }

  .main-info__descr {
    font-size: 16px;
  }

  .main-info__text--4 {
    text-align: start;
  }

  .main-info__image {
    width: 100%;
  }

  .question__btn,
  .question__link {
    width: 100%;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-nav {
    width: 100%;
  }
}

@media (max-width: 376px) {
  .header-bottom {
    padding: 56px 0 220px 0;
  }

  .header-bottom__btn,
  .button__open {
    width: 95%;
  }

  .footer-bottom {
    gap: 8px;
  }

  .footer-nav {
    gap: 40px 0;
  }

  .footer-bottom__link {
    font-size: 12px;
  }

  .sidebar-container {
    max-width: 100%;
  }
}